{% load reviews_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>




    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<title>{{title}}</title>
<style>
 body {
  padding-top: 56px;
}

</style>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <ul class="navbar-nav ml-auto-left">
        <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Главная</a></li>
    </ul>
    <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
            <li class="navbar-nav"><a class="nav-link" href="{% url 'add_page' %}">Добавить статью</a></li>
            <li class="navbar-nav"><a class="nav-link" href="{% url 'edit_page' %}">Админ панель</a></li>
            <li class="nav-item"><a class="nav-link">пользователь: {{user.username}}</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Выйти</a></li>
        {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Регистрация</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Войти</a></li>
        {% endif %}
    </ul>
</nav>



<!-- Sidebar left -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <h1 class="my-4">Категории</h1>
            {% getcats as categories %}
            <div class="list-group">
                {% if cat_selected == 0 %}
                    <a class="active">Все категории</a>
                {% else %}
                    <a href="{% url 'home' %}" class="list-group-item">Все категории</a>
                {% endif %}
                {% for c in categories %}
                        {% if c.pk == cat_selected %}
                            <a href="{{ c.get_absolute_url }}" class="list-group-item">{{c.name}}</a>
                         {% else %}
                            <a href="{{ c.get_absolute_url }}" class="list-group-item">{{c.name}}</a>
                        {% endif %}
                {% endfor %}
            </div>
        </div>

        <!-- Page Content -->
        <div class="col-lg-9">

            {% block content %}

            {% endblock content %}

        </div>
    </div>
</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-2 bg-dark fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">Course project for Itransition. Kovalenko AM 2021</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>

</html>