{% extends 'reviews/base.html' %}

{% block content %}
<h1>{{post.title}}</h1>

{% if post.photo %}
<p><img class="img-fluid" src="{{post.photo.url}}"></p>
{% endif %}

{{post.content|linebreaks}}
<p class="card-content">Рейтинг: {{post.raiting}}</p>
<button class="btn btn-warning" action="post.delete" method="post" type="delete">ЮЮ</button>
{% if request.user.is_authenticated %}
    <button class="btn btn-warning" action="post.delete" method="post" type="delete">Удалить</button>
{% endif %}
{% endblock %}